.container {
  text-align: center;
  }
  
  .label{
  display: block;
  font-size: larger;
  color: white;
  padding: 5px;
  }
  
  .input{
  font-size: larger;
  padding: 5px;
  margin: 2px;
  
  }
  .btn{
  color: white;
  background-color: red;
  border-radius: 5px;
  font-size: larger;
  display: block;
  padding: 5px;
  margin: 10px auto;
  }
  
  .messages{
  display: flex;
  justify-content: center;
  color: blue;
  }
  
   .error{
  text-align: center;
  color: red;
  height: 50px;
  padding: 5px;
  }
   
  .success{
  display: block;
  color: black;
  height: 50px;
  padding: 5px;
  }
   